# Local Development Database
DATABASE_URL="postgresql://postgres:supersecretpassword@localhost:5432/eventplatform_db?schema=public"

# Authentication
JWT_SECRET="super-secret-development-key"
PORT=3000