# Local Development Database
FRONTEND_URL="http://localhost:5173"

# Database connection string
DATABASE_URL="postgresql://postgres:supersecretpassword@localhost:5432/eventplatform_db?schema=public"

# Authentication
JWT_SECRET="super-secret-development-key"
PORT=3000